/**
 * 2.2 - Color Definitions
 *
 * The following are all of the colors defined by the theme.  The only other colors are part of the theme
 * customizer options and should not be overwritten.  If needed, copy the specific sections below into
 * your child theme and make the necessary changes there.
 */

/*
 * Fun Zone: The colors below are safe to overwrite depending on what you need to do.  Have at it!
 */

/* ====== color: #7f726b ====== */

body {
    color: #7F726B
}

/* ====== color: #B2AAA6 ====== */

.media-shortcode-extend .media-info,
.wp-playlist-dark .wp-playlist-item {
    color: #B2AAA6;
}

/* ====== border-color: rgba(0, 0, 0, 0.1) ====== */

h1,
h2,
hr,
code,
pre,
.form-allowed-tags code,
fieldset,
legend,
input,
select,
textarea,
.gallery .gallery-icon a img,
.avatar,
.display-header-text #header,
.entry,
.format-chat .chat-author,
.media-info li,
.wp-playlist-tracks,
.wp-playlist-item,
.loop-description,
.loop-pagination,
.loop-nav,
#sidebar-subsidiary,
li.ping,
.comment-content,
.clean-my-archives .day-duplicate .day,
.whistles-tabs-nav li a,
.whistles-tabs .whistles-tabs-nav li a:hover,
.whistles-tabs .whistles-tabs-wrap,
.whistles-toggle .whistle-title,
.whistles-accordion .whistle-title,
.whistles-toggle .whistle-content,
.whistles-accordion .whistle-content {
    border-color: rgba(0, 0, 0, 0.1)
}

/* ====== color: #584338 ====== */

h6,
.whistles-tabs .whistles-tabs-nav li[aria-selected="true"] a,
.whistles-tabs .whistles-tabs-nav li a:hover,
.whistles-toggle .whistle-title:hover,
.whistles-toggle .whistle-title[aria-selected="true"],
.whistles-accordion .whistle-title:hover,
.whistles-accordion .whistle-title[aria-selected="true"],
label:hover,
.loop-pagination .current {
    color: #584338
}

/* ====== color: #7f726b ====== */

caption,
td,
label,
input,
textarea,
select,
.gallery .gallery-caption,
.page-links,
.loop-pagination,
.loop-nav,
.widget_recent_entries .post-date,
.gallery-count,
.comment-respond .must-log-in,
.comment-respond .logged-in-as,
.comments-closed,
.comment-notes,
.form-allowed-tags,
.whistles-tabs-nav li a,
.whistles-toggle .whistle-title,
.whistles-accordion .whistle-title,
.wp-playlist-dark .wp-playlist-item-meta {
    color: #7F726B;
}

/* ====== background: #EEE8DF ====== */

#menu-primary,
#menu-primary .search-form > div,
#footer {
    background: #EEE8DF;
}

/* ====== background: #584338 ====== */

.audio-shortcode-wrap,
.media-shortcode-extend .media-info,
.media-info-toggle,
.entry-content .media-info-toggle,
.media-info-toggle:hover,
.media-info-toggle:focus,
.wp-audio-shortcode.mejs-container,
.mejs-controls,
.mejs-volume-button .mejs-volume-slider,
.mejs-overlay-play .mejs-overlay-button::after,
.mejs-time-rail .mejs-time-float,
.wp-playlist-dark {
    background: #584338
}

/* ====== background: transparent ====== */

hr,
.mejs-container,
.mejs-embed,
.mejs-embed body,
.mejs-overlay-button,
.mejs-controls > .mejs-button button:hover,
.mejs-controls > .mejs-button button:focus {
    background: transparent
}

/* ====== background: #fcf9f4 ====== */

html,
#container > .wrap,
#reply-title small a,
.whistles-tabs .whistles-tabs-nav li[aria-selected="true"] a {
    background: #FCF9F4
}

/* ====== Other colors ====== */

h1 {
    color: #584338
}

h2 {
    color: #584338
}

h3 {
    color: #584338
}

h4 {
    color: #584338
}

h5 {
    color: #584338
}

code {
    color: #584338;
    background: #EEE8DF;
}

tr,
thead,
tfoot,
td {
    border-color: #D6D1C9;
}

td {
    background: #EEE8DF
}

input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
    background: #EEE8DF;
    border-color: #CCC;
}

input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus,
select:focus {
    color: #555;
    background: #EEE8DF;
    border-color: #7F726B;
}

.wp-caption .wp-caption-text {
    color: #DED9D7;
    background: rgba(88, 67, 56, 0.7)
}

.gallery .gallery-icon a img {
    background: #EEE8DF
}

.gallery-icon a:hover img {
    background: #D6D1C9
}

#menu-primary .menu-toggle button {
    color: #584338
}

#menu-primary li a,
#menu-secondary li li a,
#menu-primary .menu-toggle button:hover,
#menu-primary .menu-toggle button:focus {
    color: #7F726B
}

@media only screen and (max-width: 799px) {
    #menu-secondary .wrap,
    #menu-primary .search-form > div {
        background: #EEE8DF
    }

    #menu-primary li a,
    #menu-secondary li a {
        color: #7F726B;
        background: #EEE8DF;
        border-color: rgba(0, 0, 0, 0.1);
    }

    #menu-secondary .menu-toggle button {
        color:        #EEE8DF;
        background:   #584338;
        border-color: rgba(0, 0, 0, 0.1);
    }

    #menu-primary li a:hover,
    #menu-secondary li a:hover {
        color: #584338;
        background: #D6D1C9;
    }
}

#site-title a:hover {
    border-bottom-color: rgba(0, 0, 0, 0.1)
}

.entry-title,
.entry-title a {
    color: #584338
}

.entry-byline,
.entry-footer,
.comment-meta,
.wp-playlist-item-meta {
    color: #A59C97;
}

.image-sizes .sep {
    color: #998E89
}

.loop-description {
    color: #7F726B;
    background: #EEE8DF;
}

li.ping,
.comment-content {
    background: #EEE8DF
}

#footer a {
    color: #584338
}

.clean-my-archives .comments-number {
    color: #A59C97
}

.whistles-tabs-nav li a,
.whistles-toggle .whistle-title,
.whistles-accordion .whistle-title {
    background: #EEE8DF
}

.whistles-tabs .whistles-tabs-nav li a:hover {
    background: #D6D1C9
}

.whistles-tabs .whistles-tabs-nav li[aria-selected="true"] a {
    border-bottom-color: #FCF9F4
}

.media-shortcode-extend .audio-info {
    border-color: #4F3C32
}

.media-shortcode-extend .media-info li,
.wp-playlist-dark .wp-playlist-item {
    border-color: #69564C
}

.wp-video-shortcode .mejs-controls,
.wp-playlist-dark .mejs-controls {
    border-color: #46362D
}

.mejs-time-rail .mejs-time-float {
    border-color: #9B8E88
}

.mejs-time-rail .mejs-time-float-corner {
    border-top-color: #9B8E88
}

.whistles-toggle .whistle-title:hover,
.whistles-toggle .whistle-title[aria-selected="true"],
.whistles-accordion .whistle-title:hover,
.whistles-accordion .whistle-title[aria-selected="true"] {
    background: #D6D1C9
}

.mejs-time-rail .mejs-time-total,
.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-volume-button .mejs-volume-slider .mejs-volume-total {
    background: #69564C
}

.mejs-time-rail .mejs-time-current {
    background: rgba(255, 255, 255, 0.35)
}

.mejs-overlay-play .mejs-overlay-button::after {
    text-shadow: 1px 1px 2px #352822
}

.mejs-button button:focus {
    outline-color: #9B8E88
}

/* Menu colors */

@media only screen and (min-width: 800px) {
    .menu li > ul::before {
        border-right-color: transparent;
        border-bottom-color: #BEBAB2;
        border-left-color: transparent;
    }

    .menu li li > ul::before {
        border-top-color: transparent;
        border-bottom-color: transparent;
    }

    .ltr .menu li li > ul::before {
        border-right-color: #BEBAB2
    }

    .rtl .menu li li > ul::before {
        border-left-color: #BEBAB2
    }

    #menu-primary li li a,
    #menu-secondary li li a {
        background: #EEE8DF;
        border-color: rgba(0, 0, 0, 0.1);
    }

    #menu-primary ul ul li a:hover,
    #menu-secondary ul ul li a:hover {
        background: #D6D1C9
    }

    #menu-primary .search-form .toggle::before {
        color: #7F726B
    }

    #menu-primary .search-form .toggle:hover::before {
        color: #584338
    }

    #menu-primary .search-form .search-toggle::before {
        color: #7F726B
    }

    #menu-primary .search-toggle:hover::before,
    #menu-primary .search-toggle:focus::before {
        color: #7F726B
    }
}

/* =/=/=/=/=/= End fun zone. =/=/=/=/=/= */

/*
 * Colors Danger Zone: The white color is used in contrast to the 'primary' theme color. It's not recommended to
 * overwrite this specific color section. If overwriting, it should be a very light color.
 */

.media-shortcode-extend a,
.media-shortcode-extend a:hover,
.media-info-toggle,
.entry-content .media-info-toggle,
.mejs-time .mejs-currenttime,
.mejs-time .mejs-duration,
.mejs-volume-button .mejs-volume-slider .mejs-volume-current,
.mejs-volume-button .mejs-volume-slider .mejs-volume-handle,
.media-info-toggle:hover,
.mejs-overlay-play .mejs-overlay-button::after,
.mejs-time-rail .mejs-time-float,
.wp-playlist-dark .wp-playlist-playing,
.wp-playlist-dark .wp-playlist-caption:hover,
.wp-playlist-dark .wp-playlist-item:hover {
    color: #DED9D7
}

#menu-primary .menu-toggle:hover,
#menu-primary li.current-menu-item > a,
#menu-primary li a:hover,
#menu-secondary li li a:hover {
    color: #584338;
}

#menu-primary .menu-toggle button:hover

/* =/=/=/=/=/= End colors danger zone. =/=/=/=/=/= */